---
import MainLayout from "../layouts/mainLayout.astro"
---
<MainLayout title="About" description="This is the About page">
	<p>This is the About Page</p>
    <h1 class="heading">hello</h1>
</MainLayout>
<style>
p {
	color: aqua;
}
h1{
    color: blueviolet;
}
.heading{
    border: 1px solid red ;
}

</style> 